<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusCheck</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body>
    <!-- Top header with site logo and navigation links -->
   <nav class="navbar navbar-expand-lg navbar-light bg-brown custom-header container my-4 bg-image">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'image/logo.png' %}" alt="CampusCheck Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'universities:university_list' %}">Universities</a>   
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'universities:top_universities' %}">Top-5 Universities</a>   
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'map' %}">Map</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>   
                </li>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'student_profile' %}">My Profile</a>
                    </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>   
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
    <div class="container my-4">
        <!-- Main content of the page -->
        {% block content %}
        {% endblock %}
    </div>

<!-- jQuery UI Autocomplete -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<!-- Bootstrap JS and jQuery -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
