{% extends 'campus/base.html' %}

{% block content %}
  <h1>Student Profile</h1>
  <h2>{{ request.user.email }}</h2>

  <h3>Personal Information</h3>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>

  <h2>Your Reviews</h2>


  {% for course in courses %}
    <h4>{{ course.name }}</h4>
    {% if course.avg_rating %}
      <p>Rating: 
      <span class="fa fa-star {% if course.avg_rating > 0 %} checked {% endif %}"></span>
      <span class="fa fa-star {% if course.avg_rating > 1 %} checked {% endif %}"></span>
      <span class="fa fa-star {% if course.avg_rating > 2 %} checked {% endif %}"></span>
      <span class="fa fa-star {% if course.avg_rating > 3 %} checked {% endif %}" ></span>
      <span class="fa fa-star {% if course.avg_rating > 4 %} checked {% endif %}"></span></p>
      <p>Review: {{ course.review_text }}</p>
    {% else %}
      <p>No ratings yet.</p>
    {% endif %}
  {% endfor %}
{% endblock %}
