{% extends 'campus/base.html' %}

{% block content %}
{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}
  <h1>Submit a Review</h1>
  <form method="POST" class="rate-form">
    {% csrf_token %}
    <label for="value_for_money">Value for Money</label>
    <div class="stars">
      <span id="first"></span>
      <span id="second"></span>
      <span id="third"></span>
      <span id="fourth"></span>
      <span id="fifth"></span>
    </div>
    {{ form.value_for_money }}
    <br><br>
<label for="teaching_quality">Teaching Quality</label>
<div class="stars">
  <span id="first"></span>
  <span id="second"></span>
  <span id="third"></span>
  <span id="fourth"></span>
  <span id="fifth"></span>
</div>
{{ form.teaching_quality }}
<br><br>

<label for="course_content">Course Content</label>
<div class="stars">
  <span id="first"></span>
  <span id="second"></span>
  <span id="third"></span>
  <span id="fourth"></span>
  <span id="fifth"></span>
</div>
{{ form.course_content }}
<br><br>

<label for="job_prospects">Job Prospects</label>
<div class="stars">
  <span id="first"></span>
  <span id="second"></span>
  <span id="third"></span>
  <span id="fourth"></span>
  <span id="fifth"></span>
</div>
{{ form.job_prospects }}
<br><br>

{{ form.review_text }}

<br><br>
<button type="submit" class="btn btn-primary mb-1 beautiful-button">Submit Review</button>
  </form>
  <div id="confirm-box"></div>
{% endblock %}

