{% extends 'campus/base.html' %}
{% load static %}
{% block content %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery UI Autocomplete -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="{% static 'js/suggest.js' %}" type="text/javascript"></script>
<h1 class="mb-4">Universities</h1>

<form method="get" id="search-form">
    <span class="form-group">
        <label for="search">Search:</label>
        <input type="text" name="search" id="search" class="form-control" autocomplete="off" value="{{ request.GET.search }}" data-url="{% url 'universities:search_suggestions' %}">
        <button type="submit" class="btn btn-primary mb-1 beautiful-button">Search</button>
    </span>
</form>
<div class="row" id="university-list">
    {% for university, rating in university_ratings.items %}
        <div class="col-md-6 mb-4 ">
            <div class="card">
                <img src="{{ university.logo.url }}" alt="{{ university.name }} logo" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'universities:university_detail' university.slug %}">{{ university.name }}</a></h5>
                    <p class="card-text">{{ university.description }}</p>
                    <p class="card-text">Location: {{ university.location }}</p>
                    <p class="card-text">Website: <a href="{{ university.website }}">{{ university.website }}</a></p>
                    {% if rating %}
                        <p class="card-text">Rating:
                            <span class="fa fa-star {% if rating > 0 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if rating > 1 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if rating > 2 %} checked {% endif %}"></span>
                            <span class="fa fa-star {% if rating > 3 %} checked {% endif %}" ></span>
                            <span class="fa fa-star {% if rating > 4 %} checked {% endif %}"></span>
                        </p>
                    {% else %}
                        <p class="card-text">No ratings yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% empty %}
        <p>No universities available.</p>
    {% endfor %}
</div>
{% endblock %}

